body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #121212;
  color: #f1f1f1;
  padding: 30px;
}

input, button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}

button {
  cursor: pointer;
  background-color: #4caf50;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}
